body {
    background-color: whitesmoke;
    font-family: 'Hanalei Fill', cursive;
}

a {
    text-decoration: none;
}

/*.main-menu--image {*/
/* background-image: url("./images/classsroom5.jpg");*/
/* background-position: center;*/
/* background-size: cover;*/
/* background-repeat: no-repeat;*/
/* opacity: 1;*/
/*}*/

